Semester 5/XML/1B/task1.dtd

<!ELEMENT shiporder (orderperson,shipto,item+)>
<!ATTLIST shiporder orderid CDATA #REQUIRED>
<!ELEMENT orderperson (#PCDATA)>
<!ELEMENT shipto (name,address,city,country)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT item (title,note?,quantity,price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT price (#PCDATA)>